        {% extends "base.html" %}
        {%  block title %}Home{%endblock  %}
        {% block include %}
                {% include "head_home.html" %}
        {% endblock %}
        {% block home %}
            class="active"
        {% endblock %}
        {% block content %}
            {% load static %}

    <div class ="img1">

        <div class = "ptxt">
            <span style="color: #191919;" class="border">
                Kameng Hostel<br>
                IIT GUWAHATI
            </span>
        </div>
    </div>

    <section class = "sectionHome">
        <h2 style="color: white;"> About Us </h2>
            <p style="color: white;">
                Kameng Hostel is named after the tributary Kameng of the mighty river Bramhaputra. Kameng has 504 rooms distributed over five blocks(B1,B2,B3,B4 and C1).The B blocks have 30 rooms on each floor while the C1 block has eight rooms on each floor. Kameng has excellent canteens so you never run out of food,snacks,cold drinks,ice-creams and of course tea and coffee(the Key components in an IITians diet)which incidentally is open till 3AM.The dining here is said to be the best on the entire campus. Kameng also has a juice center in the mess which serves friut juice,milk shakes and fruit salads.There is also a stationary shop inside the hostel where you can get all your daily needs. Our common room doubles up as a T.V room where it gets hot during Indian and English Premier Leagues. Kameng has a sports room where the Kamengites can avail all the sport facilites like issuing sporting goods,playing table tennis,carrom,chess and other board games.
            </p>
    </section>

    
    <div class ="img2">
        <div class = "ptxt2">
            <span class="border">
            
            </span>
         </div>
    </div>
    {% endblock %}