<!DOCTYPE html>
<html>

<head>
	<title>Room Allotment</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/rooms/styling.css' %}">
</head>

<body bgcolor="#676767">
	{% block content %}
		<div class="heading">
			Room allotment list
		</div>
        <form action="/rooms/{{ Roll }}" method="get" style="margin-left: 270px; margin-bottom: 50px; margin-top: 50px;">
			<input type="text" name="Name" placeholder="{{ kamengite.name }}">
			<input type="text" name="Roll" style="margin-left: 30px;" placeholder="{{ kamnegite.roll_no }}">
			<input type="text" name="Room" style="margin-left: 30px;" placeholder="{{ kamengite.room_no }}">
			<input type="submit" value="Search">
		</form>
		<div class="table">
			<table align="center">
				<tr id="table-head">
					<th align="left" style="padding-left: 80px;">Name</th>
					<th>Roll No.</th>
					<th>Room Alloted</th>
				</tr>

				<tr id="row">
                    <td style="text-align: left; padding-left: 10px;">{{ kamengite.name }}</td>
                    <td>{{ kamengite.roll_no }}</td>
                    <td>{{ kamengite.room }}</td>
                </tr>
			</table>
		</div>
	{% endblock %}
</body>

</html>