        {% extends "base.html" %}
        {%  block title %}Facility {%endblock  %}
        {% block include %}
                {% include "head_facility.html" %}
        {% endblock %}
        {% block facility %}
            class="active"
        {% endblock %}
        {% block content %}
            {% load static %}
        <div class="containerFac">

                <!-- Full-width images with number text -->
                <div class="mySlides">
                  <div class="numbertext">1 / 6</div>
                    <img class="img" src="/media/images/1.jpg">
                </div>
              
                <div class="mySlides">
                  <div class="numbertext">2 / 6</div>
                    <img class="img" src="/media/images/2.jpg" style="width:100%; ; height:100%">
                </div>
              
                <div class="mySlides">
                  <div class="numbertext">3 / 6</div>
                    <img class="img" src="/media/images/3.jpg" style="width:100%">
                </div>
              
                <div class="mySlides">
                  <div class="numbertext">4 / 6</div>
                    <img class="img" src="/media/images/4.jpg" style="width:100%">
                </div>
              
                <div class="mySlides">
                  <div class="numbertext">5 / 6</div>
                    <img class="img" src="{% static '/facility/images/5.jpg'%}" style="width:100%">
                </div>
              
                <div class="mySlides">
                  <div class="numbertext">6 / 6</div>
                    <img class="img" src="{% static '/facility/images/6.jpg'%}" style="width:100%">
                </div>
              
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
      
              </div>

              <script src="{% static '/facility/script.js' %}"></script>
        {% endblock %}
