{% extends "base.html" %}
{% block title %}Complaints{% endblock %}
    {% block include %}
                {% include "head_complaints.html" %}
        {% endblock %}
        {% block check %}
            class="active"
        {% endblock %}

    {% block content %}
    <div class="comMainDiv">

        <br><br><br><br>
        <h3 style="color: #676767; margin-left: 44%;"> COMPLAINTS </h3>
        <br><br>
        {% for complaint in c_list %}
        <section class="complaintSection">
            <div class="complaintStyle">Complaint : </div>
            {{ complaint.complaintText }}<br><br>
{#            <div class="complaintStyle">Type Of Complaint :</div>{{ complaint.type_of_complaint }}<br><br>#}
            <div class="complaintStyle">Status :</div>
                {% if complaint.is_resolved_stud %}
                    Complaint Solved!
                {% else %}
                    Under Progress
                {% endif %}

            <br><br>
            <div class="complaintStyle"> Complaint By :</div> {{ complaint.u.user.first_name }}  {{ complaint.u.user.last_name }}
            <form action="resolved/" method="post">
                    {% csrf_token %}
                    <input style = "display: none" type="text" value="{{ complaint.pk }}"  name = "d">
                    <input class="comSubmit" type="submit" value="Resolved">
                </form>
        </section>
        {% endfor %}
        </div>

        {% endblock %}
