
{% extends "base.html" %}
{% block title %}Complaints{% endblock %}
    {% block include %}
                {% include "head_complaints.html" %}
        {% endblock %}
    <br><br><br><br>

    {% block content %}
    <div class="comMainDiv">
    <div class="compForm">
        <form action="submit/" method="post">
            {% csrf_token %}

           <div class="typeOfComp">
            Type Of Complaint:

               <select name="toc" class="comSelect">
                <option value="Sports">Sports</option>
                <option value="Maintenance">Maintenance</option>
                <option value="Cultural">Cultural</option>
                <option value="Mess">Mess</option>
            </select>
           </div>
            <br>
            <div class="complaintBox">
               Complaint:
             </div>

            <div>
            <textarea class="comInput" rows="4" cols="50" name="txt"> </textarea>
            </div>

            <br>
            <input class="comSubmit" type="submit" value="Submit">
        </form>
        </div>
        <br>
        <!--<h3> Your Complaints </h3>-->
        {% for complaint in complaints %}
        <section class="complaintSection">
            <p>{{ complaint.complaintText }}</p>
            <p>{{ complaint.type_of_complaint }}</p>
            <p>
                {% if complaint.is_resolved_stud %}
                    <p>Complaint Solved!</p>
                {% else %}
                    <p>Under Progress</p>
                {% endif %}
            </p>
        </section>
        {% endfor %} 
        <a href="{% url 'logout' %}">logout</a>
        </div>

        {% endblock %}
