
{% extends "base.html" %}
{% block title %}Complaints{% endblock %}
    {% block include %}
                {% include "head_complaints.html" %}
        {% endblock %}
        {% block complaints %}
            class="active"
        {% endblock %}
    <br><br><br><br>

    {% block content %}
    <div class="comMainDiv">
    <div class="compForm">
        <form action="submit/" method="post">
            {% csrf_token %}

           <div class="typeOfComp">
            Type Of Complaint:
            <select name="toc" class="comSelect">
                {% for secy in secy_list %}
                    <option value="{{ secy.position }}">{{ secy.position }}</option>
                {% endfor %}
            </select>
           </div>
            <br>
            <div class="complaintBox">
               Complaint:
             </div>

            <div>
            <textarea class="comInput" rows="4" cols="50" name="txt"> </textarea>
            </div>

            <br>
            <input class="comSubmit" type="submit" value="Submit">
        </form>
        </div>
        <br>
        <h3 style="color: #676767; margin-left: 44%;"> My Complaints </h3>
        {% for complaint in complaints %}
        <section class="complaintSection">
            <div class="complaintStyle">Complaint : </div>
            {{ complaint.complaintText }}<br><br>
            <div class="complaintStyle">Type Of Complaint :</div>{{ complaint.type_of_complaint }}<br><br>
            <div class="complaintStyle">Status :</div>
                {% if complaint.is_resolved_ct == True %}
                    Complaint Solved!
                {% else %}
                    Under Progress
                {% endif %}
        <form action="delete/" method="post">
            {% csrf_token %}
            <input style = "display: none" type="text" value="{{ complaint.pk }}"  name = "d">
            <input class="comSubmit" type="submit" value="Delete">
        </form>
        </section>
        {% endfor %} 
        </div>

        {% endblock %}
