{% extends base.html %}
{% block content %}
    {% load static %}
	<div>
{#		{% for t in Time %}#}
			<div class="messTime">
				{{ t }}
			</div>
{#		{% endfor %}#}

{#		{% for d in Day %}#}
			<div class="messDay">
				{{ d }}
			</div>
			<div>
{#				{% for t in Time %}#}
					<div>
						<div class="custom-select" style="width:200px;">
							<select>
							    <option value="-1">--None--</option>
								{% i = 0 %}
{#								{% for option in mess_option %}#}
							    	<option value="{{ i }}">option</option>
{#							    {% endfor %}#}
							</select>
						</div>
					</div>
{#				{% endfor %}#}
			<div>
{#		{% endfor %}#}
	</div>
	<script type="text/javascript" src="mess_menu/mess_menu_js.js"></script>
{% endblock %}