    {% extends "base.html" %}
    {% block include %}
        {% include "head_mess_menu.html" %}
    {% endblock %}
    {% block mess %}
            class="active"
    {% endblock %}
    {% block content %}
            <div style="background-color: #2B7A78; margin-top: 60px;">
                <form action="submitted/" method="post">
				<table style="width: 100%"  class="messTable">
                  <tr class="messTableHeadRow">
                        <th></th>
                        {% for t in time_list %}
                        <th class="messTableHeadData">
                            {{ t }}
                        </th>
                        {% endfor %}
                  </tr>
                    {% for d in day_list %}
                        <tr>
                                <td class="messDay">
                                    {{ d }}
                                </td>
                        {% for t in time_list %}
                                <td class="messOption">
                            {% for m in menu_obj_list %}
                                {% if m.day == d and m.time == t %}



                                    <div class="messItem">

                                    Item :

                                    </div>
                                    <select name="{{ m }}"  class="messDropdown">
                                        {% for o in m.options.all %}
                                            <option value="{{ o.value }}">{{o}}</option>
                                        {% endfor %}
                                    </select>
                                    <br><br>
                                {% endif %}
                            {% endfor %}
                                </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
				</table>


				<div class="messButtonDiv">
                    {% csrf_token %}
					<input type="submit" name="submit" class="messButton" value="SUBMIT">
				</div>
			</form>
		</div>
        <div style="height: 100px; width: 100%;"></div>
{% endblock %}
{##}
{#</body>#}
{#</html>#}
{##}
{##}






