
{% extends "base.html" %}
    {% block include %}
        {% include "head_mess_menu.html" %}
    {% endblock %}
    {% block mess %}
    {% endblock %}
    {% block content %}
            <div style="background-color: #2B7A78; margin-top: 60px;">
                    <h2 style="margin-left: 44%"> Current Vote Tally</h2>
				<table style="width: 100%"  class="messTable">
                  <tr class="messTableHeadRow">
                        <th></th>
                        {% for t in time_list %}
                        <th class="messTableHeadData">
                            {{ t }}
                        </th>
                        {% endfor %}
                  </tr>
                    {% for d in day_list %}
                        <tr>
                                <td class="messDay">
                                    {{ d }}
                                </td>
                        {% for t in time_list %}
                                <td class="messOption">
                            {% for m in menu_obj_list %}
                                {% if m.day == d and m.time == t %}



                                    <div class="messItem">
                                    </div>

                                        {% for o in m.options.all %}
                                            <p> {{ o }}  :-   {{ o.count }}</p>
                                        {% endfor %}

                                    <br><br>
                                {% endif %}
                            {% endfor %}
                                </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
				</table>


				<div class="messButtonDiv">
				</div>
		</div>
        <div style="height: 100px; width: 100%;"></div>
{% endblock %}