body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-weight:400;
    font-family: "Lato" sans-serif;
    line-height: 1.8em;
    color:#fff;
}

.img1,.img2{
    position: relative;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}

.img1{
            background-image: url('images/img.jpg');
            height: 100%;
        }

.img2{
    background-image: url('images/night.jpg');
    height: 100%;
}


.sectionHome{
    text-align: center;
    background-color: #282e34;
    padding : 50px 90px;
}

.ptxt{
    position: absolute;
    
    top:33%;
    
    width:100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
