table, th, td {
    border: 2px solid silver;
    border-collapse: collapse;
}


.messTable{
	border: 2px dashed black;
	margin: 0 auto;
}

.messDay{
	color: silver;
	font-size: 20px ;
	font-weight: bold;
	padding: 20px;
	padding-bottom: 5px ;
}

.messTableHeadRow{
	color: silver ;
}

.messTableHeadData{
	font-size: 22px ;
	font-weight: bolder;
	text-align: center;
	padding: 20px ;
	padding-top: 5px ;
	padding-bottom: 5px;
}

.messItem{
	float:left;
	vertical-align: center;
	padding: 7px ;
    color: black    ;
}

.messDropdown{
	background-color: DodgerBlue ;
	border: none ;
	height: 30px ;
	width: 200px ;
	padding: 5px ;
	font-size: 16px ;
	float: left;
}

.messOption{
	text-align: center;
	padding: 20px ;
	padding-bottom: 10px ;
}

.messButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    float: right;
    margin: 20px;
}

.messButtonDiv{
	width:100%;
    margin-right: 0;
    padding-right: 0;
}




